:root {
  --main-bg: #121212;
  --card-bg: #1e1e1e;
  --text-color: #e0e0e0;
  --gold-accent: #ffd700;
  
}

body{
  background-color:var(--main-bg) ;
}

.card{
  border: 1px solid var(--gold-accent );
  background-color: var(--card-bg);
  border-radius: 40px;
  margin: 20px;
  padding: 20px;
}
.card p{
  margin: 20px;
}

.card ul li{
  list-style: none;
}

h1,h2,h3,p,span,li,h4{
  color :var(--text-color);
  margin: 5px;
}

img {
  width: auto;
  height: 150px;
  margin:10px;
  margin-top: 10px;
  object-fit: contain;
}

h3{
  color: #b8860b ;
  font-size: x-large;
  /* ! اللون م لايق ع الويب  */
}

hr{
  margin: 10px;
}


p,li,h4{
  font-size: larger;
}

h4{
  margin: 15px;
  color:#b8860b ;
}

.All-time-trophies {
  list-style: none;
}

table{
  color: var(--text-color);
  border-collapse: collapse;
  border: #121212;
  padding: left 30px;;
}

td,tr{
  padding: 6px;
  border : 1px solid #b8860b ;
  white-space: nowrap;
  overflow:auto ;
}

td{
  margin: 5px;
  border: 1px solid #b8860b ;
}

caption{
  padding-bottom: 15px;
}

th{
  background-color: #b8860b;
  color: var(--main-bg);
  padding: 10px;
  margin:8px;
  text-align: center;
  border:  1px solid var(--main-bg);
}

th:last-child{
  border-right: none;
}

td:first-child{
  background-color: #b8860b ;
  color : var(--main-bg);
  border: 1px solid var(--main-bg);
  
}
 
.intro{
  margin:10px;
}

h2{
  padding: 10px;
}

hr{
  border:none;
  height: 3px;
  background-color: #b8860b;
  margin-top:10px ;
  padding: none;
  width: 100%;
  margin-left: auto;
}

h1{
  color:#b8860b;
}

.the-intro-photo{
  padding-left:0;
}

li:nth-child(4) ul li{
  font-size: medium;
}